<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/static/functions.js"></script>
</head>
<body>

  <table>
    <thead>
      <tr>
        <th>a</th>
        <th>b</th>
      </tr>
    </thead>
    <tbody>
      {% for perfil in perfiles %}
      <tr>
        <td>{{perfil.0}}</td>
				<td>{{perfil.1}}</td>
      </tr>
    </tbody>
  </table>

<div class="box">
    <h1 id="logintoregister">Login</h1>
  <div class="group">      
    <input class="inputMaterial" type="text" required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Username</label>
    </div>
    <div class="group">      
    <input class="inputMaterial" type="password" required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Password</label>
    </div>
    <div class="group show">      
    <input class="inputMaterial" type="password" required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Confirm Password</label>
    </div>
    <div class="group show">      
    <input class="inputMaterial" type="text" required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Nombre</label>
    </div>
    <div class="group show">      
    <input class="inputMaterial" type="text" required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Apellido</label>
    </div>
    <div class="group show">      
    <input class="inputMaterial" type="text" required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Email</label>
    </div>

<button id="buttonlogintoregister">Login</button>
    <p id="plogintoregister">No estas registrado? </p><p id="textchange" onclick="register()"> Regístrate</p>
  </div>


</body>
</html>